name: "Test"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Test Local Action"
        id: test
        uses: ./

      - name: "Echo Outputs"
        run: |
          echo "sha: '${{ steps.test.outputs.sha }}'"

  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup Python 3.11"
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: "Flake8"
        run: |
          python -m pip install flake8
          flake8 src
